.bg-red{
    background-color: #ffcacc;
}

.bg-gr{
    background-color: #9bff99;
}

.radio-img{
    margin: -5px 5px 0 2px;
}

.my-bgr{
    background-color: #fffcba;
}
.btn{
    margin-top:20px;
    margin-bottom:20px;

}


form {
  padding: 30px;
  font-family: Arial;
}

h1 {
  font-size: 1em;
  color: #006595;
  padding: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 0 white;
}

input {
  width: 250px;
  padding: 5px;
  border: solid 1px #CCC;
  outline: none;
  border-radius: 7px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-right-color: #EEE;
  border-bottom-color: #EEE;
  color: #006595;
}

.form-item {
  position: relative;
  padding: 5px;
}

/* show hints when hover/focus the input */
.form-item:hover .hint,
input:focus ~ div{
  opacity: 1;
}

/* hidden by default */
.hint {
  content: "asd";
  opacity: 0;
  background: #EEE;
  position: absolute;
  top: 1px;
  left: 269px;
  padding: 2px;
  border: solid 1px #CCC;
  font-size: 12px;
  font-weight: bold;
  color: #555;
  border-radius:7px 7px  7px 7px;
  transition: opacity 0.3s;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05);
}
body
{
overflow-x:hidden;
width:100%;
font: 15px "Century Gothic", "Times Roman", sans-serif;
background:#eee;
min-height:550px;
background-attachment:fixed;
}
.bg
{
min-height:540px;
}
.bg1
{
background:url(../image/bg.jpg);
min-height:535px;
display: block;
 margin: 0 auto;
}

@font-face {
   font-family: 'typo';
    src: url('../fonts/typo.ttf');
  }

@font-face {
   font-family: 'gothic';
    src: url('../fonts/gothics.ttf');
  }

.panel{
border-color:#eee;
margin:40px;
padding:20px;
font: 15px "Century Gothic", "Times Roman", sans-serif;
}

.title
{
font-family:'typo';
}

.header
{
background:#202020;
height:70px;
}
.logo
{
text-align:center;
font-family:'typo';
font-size:35px;
color:#f3f0f7;
margin:15px;
}

.title1{
font: 16px "Century Gothic", "Times Roman", sans-serif;
}
.title2{
font-family: 'Century Gothic', sans-serif;
font-size:20px;
}


.sub1
{
width:90px;
color:#202020;
background:orange;
font-size:15px;
height:35px;
margin:20px;
padding:10px;
width:100px;
}

.sub10
{
width:140px;
color:#272030;
background:green;
font-size:15px;
height:35px;
margin:20px;
padding:10px;
width:100px;
}

.sub
{
width:100%;
background-color:#9acd32;
font-size:20px;
padding:2px;
margin-top:15px;
margin-right:20px;
}
.sub:hover
{
color:#fff;
}

.footer
{
font-size:15px;
text-align:center;
border-top:1px solid;
border-color:#323232;
background-color:#202020;
}
.footer a
{
margin:25px;
color:orange;
text-decoration:none;
font: 15px "Century Gothic", "Times Roman", sans-serif;

}
.footer a:hover
{
text-decoration:none;
color:#9acd32;
border-top:2px solid;
border-color:orange;

}

.box
{
padding:9px;
}
hr{
color:#000000;
}
.top
{
margin-top:20px;
}
.log1
{
font: 15px 'Ubuntu', sans-serif;
color:orange;
margin-left:10px;
}

.log
{
margin:10px;
margin-right:60px;
margin-left:5px;
color:orange;
text-decoration:none;
font-size:20px;
font-size:15px;
}
.log:hover
{
color:#9acd32;
border-top:2px solid;
border-color:orange;
text-decoration:none;
}

  .myModal
  {
    
  }
